<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body class="container">
  <header>
    <% include ../partials/header %>
  </header>

  <main>
    <div class="container">
      <div class="col-sm-6 col-sm-offset-3">
          <div class="form-group">
            <p>
              Welcome <%= user.name %>
            </p>
            <ul>
              <li>Username <%= user.username %></li>
              <li>Email <%= user.email %></li>
              <li>Name <%= user.name %></li>
              <li>LastName <%= user.dadLastName %></li>
            </ul>
            <a href="/signout", class='text-center new-account'>Sign Out</a>
          </div>
      </div>
    </div>
  </main>
  <footer>
    <% include ../partials/footer %>
  </footer>
</body>

</html>
